--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1
torchaudio==2.3.1

# Coqui XTTS
TTS        # let pip pick a py311-compatible version
phonemizer>=3.2.1
pydub

# Web/UI
gradio==5.49.1
loguru
python-dotenv
dotenv
requests

# Media / audio
numpy==1.26.4
librosa==0.10.2.post1
scipy>=1.11
soundfile
audioread
ffmpeg-python
yt-dlp
moviepy
imageio
imageio-ffmpeg
audiostretchy
wget==3.2
pyarrow

# NLP / models
transformers==4.39.3
accelerate
diffusers==0.27.2

# ASR / misc
edge-tts
aiohttp
funasr
modelscope
conformer==0.3.2
WeTextProcessing==1.0.3
HyperPyYAML==1.2.2

openai>=1.3.0
